<h1>Sign up</h1>

<% if flash[:login_error] %>
  <p>
    <%= flash[:login_error] %>
  </p>
<% end %>

<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="First Name" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>

        <div class="input-field col s6">
          <input placeholder="Surname" id="last_name" type="text" class="validate">
          <label for="last_name">Surname</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Email" id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Password" id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>

      <%= submit_tag "Sign up" %>

    </form>
  </div>
