
<!DOCTYPE html>

<html lang="en">

<!-- BC_OBNW -->
<head>
<title>Projects by Gremalco | Projects</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link type="text/css" href="/StyleSheets/ModuleStyleSheets.css" rel="StyleSheet" />
<script type="text/javascript">var jslang='EN';</script>
<link href="/assets/css/bootstrap.css" type="text/css" rel="stylesheet">
<link href="/assets/css/styles.css" type="text/css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!--
	<link href="/assets/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<link rel="stylesheet" href="/CatalystStyles/Box.css?vs=b58.r512241-phase1" type="text/css" media="screen" />
<script type="text/javascript" src="/CatalystScripts/Java_Box.js?vs=b58.r512241-phase1"></script>
</head>
<body class="projects logged-false desktop" data-pagename="Projects">


    <header role="head">
    <div class="container">
        <div id="header" class="section">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a href="/index.html" id="logo" title="Gremalco">
                        <img alt="Gremalco" title="Gremalco" src="/images/logo.gif" />
                    </a>
                    
<nav class="navbar main-nav">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse">
        <ul id="primary-nav" class="nav navbar-nav primary-nav clear">
                            <li  >
                    <a href="/about.html" title="About Us" >About Us</a>
                    <ul class="is-hidden secondary-nav simple-menu">
                                            </ul>
                </li>
                            <li  >
                    <a href="/projects/projects.html" title="Projects" >Projects</a>
                    <ul class="is-hidden secondary-nav simple-menu">
                                                	<li  >
                        		<a href="/projects/project01"  >Project 1: OPGW/OHEW Mains Delivery</a>
                        	</li>
                                                	<li  >
                        		<a href="/projects/project02"  >Project 2: Richmond Road</a>
                        	</li>
                                                	<li  >
                        		<a href="/projects/project03"  >Project 3: 132kV Feeder 9L3 Oran Park</a>
                        	</li>
                                                	<li  >
                        		<a href="/projects/project04"  >Project 4: Guildford TS to South Granville ZS</a>
                        	</li>
                                                	<li  >
                        		<a href="/projects/project05"  >Project 5: 66kV Feeder Construction Avon Dam</a>
                        	</li>
                                                	<li  >
                        		<a href="/projects/project06"  >Project 6: RMS Bringelly Rd Upgrade Stage 1&amp;2</a>
                        	</li>
                                                	<li  >
                        		<a href="/projects/project07"  >Project 7: 132kV Gledswood Hills</a>
                        	</li>
                                                	<li  >
                        		<a href="/projects/project08"  >Project 8: 66kV Ring Augmentation, Orange NSW</a>
                        	</li>
                                                	<li  >
                        		<a href="/projects/project09"  >Project 9: 66kV Forster to Taree</a>
                        	</li>
                                            </ul>
                </li>
                            <li  >
                    <a href="/services.html" title="Services" >Services</a>
                    <ul class="is-hidden secondary-nav simple-menu">
                                            </ul>
                </li>
                            <li id="btn-team" >
                    <a href="/our-team/index.html" title="Team" >Team</a>
                    <ul class="is-hidden secondary-nav simple-menu">
                                            </ul>
                </li>
                            <li  >
                    <a href="/careers.html" title="Careers" >Careers</a>
                    <ul class="is-hidden secondary-nav simple-menu">
                                            </ul>
                </li>
                            <li  >
                    <a href="/contact.html" title="Contact" >Contact</a>
                    <ul class="is-hidden secondary-nav simple-menu">
                                            </ul>
                </li>
                        <li>
                <a href="#" title="Search" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-search"></i></a>
                <div id="search-top-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <form action="/Default.aspx?SiteSearchID=2465&amp;ID=/search-results.html" method="post" name="catsearchform79674" id="form-search" class="form-horizontal">
	<fieldset>
		<div class="form-group">
			<div class="col-xs-12 col-sm-8 col-md-8">
				<input type="text" class="form-control" id="CAT_Search" name="CAT_Search" placeholder="Search" title="Search" maxlength="255" />
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
				<button type="submit" class="btn btn-primary">Search</button>
			</div>
		</div>
	</fieldset>
</form>

                </div>
            </li>
                            <li class="dropdown">
                    <a href="#" title="Login" class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-lock"></i></a>
                    <div id="login-top-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <form name="catseczoneform63116" onsubmit="return checkWholeForm63116(this)" method="post" action="https://test-sep102015-113.worldsecuresystems.com/ZoneProcess.aspx?ZoneID=51&Referrer=http%3a%2f%2fwww.gremalco.com.au&OID=9017920&OTYPE=1" id="form-login" class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <input type="text" class="form-control" id="SZUsername" name="Username" placeholder="Username/User ID" title="Username/User ID" maxlength="255" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <input type="password" class="form-control" id="SZPassword" name="Password" placeholder="Password" title="Password" autocomplete="off" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="RememberMe" id="RememberMe" /> Remember Me
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="remember">
                        <label>
                            <a href="/register.html">Register</a>
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <a href="http://www.google.com.au" target="_blank" class="btn btn-primary" title="Damstra">Damstra</a>                    
                </div>
            </div>
        </fieldset>
        <script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js?vs=b1951.r480527-phase1"></script>
        <script type="text/javascript">
            //<![CDATA[
            function checkWholeForm63116(theForm){
                var why = "";
                if (theForm.Username) why += isEmpty(theForm.Username.value, "Username");
                if (theForm.Password) why += isEmpty(theForm.Password.value, "Password");
                if (why != ""){
                    alert(why);
                    return false;
                }
                theForm.submit();
                return false;
            }
            //]]>
        </script>
    </form>

                    </div>
                </li>
                    </ul>
    </div>
</nav>

                </div>
            </div>
        </div>
    </div>
</header>

    <main id="site" class="section">
        <div class="container">
            





<!-- BEGIN CONTENT -->

<!--
<div id="content2">
<div>
<div id="content-left">
-->

<div id="page-title">
	<div class="page-title-content">

		<h2>Project</h2>
		<h1>Highlights</h1>
	</div>
</div>              

<div id="maincontent-fullwidth">
	<p>Included are a selection of projects that highlight the diverse types of electrical infrastructure that Gremalco are delivering ranging from sub-transmission power lines, large asset re-locations, long term panel contracts and distribution lines
both overhead and underground. Should you wish to know more about any of our other previous or ongoing projects please conta<span style="font-size: 14px;"></span>ct us either by phone or sending us an email.</p>
	<div class="row">
<!--             {// module_webapps id="31071" filter="all" } -->
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="project-list" style="background-image: url('/images/portfolio-big/pf-big1.jpg')">
        
            <a href="/projects/project01" title="View more">
                <p class="h3">OPGW/OHEW Mains Delivery<span>$6.7M</span></p>
            </a>
            </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="project-list" style="background-image: url('/images/portfolio-big/pf-big2.jpg')">
        
            <a href="/projects/project02" title="View more">
                <p class="h3">RMS Richmond Road<span>$0M</span></p>
            </a>
            </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="project-list" style="background-image: url('/images/portfolio-big/pf-big3.jpg')">
        
            <a href="/projects/project03" title="View more">
                <p class="h3">132kV Feeder 9L3 Oran Park<span>$1.54M</span></p>
            </a>
            </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="project-list" style="background-image: url('/images/portfolio-big/pf-big4.jpg')">
        
            <a href="/projects/project04" title="View more">
                <p class="h3">Guildford TS to South Granville ZS<span>$0.875M</span></p>
            </a>
            </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="project-list" style="background-image: url('/images/portfolio-big/pf-big5.jpg')">
        
            <a href="/projects/project05" title="View more">
                <p class="h3">66kV Feeder Construction Avon Dam<span>$1.8M</span></p>
            </a>
            </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="project-list" style="background-image: url('/images/portfolio-big/pf-big6.jpg')">
        
            <a href="/projects/project06" title="View more">
                <p class="h3">RMS Bringelly Rd Upgrade Stage 1&amp;2<span>$7.9M</span></p>
            </a>
            </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="project-list" style="background-image: url('/images/portfolio-big/pf-big7.jpg')">
        
            <a href="/projects/project07" title="View more">
                <p class="h3">132kV Gledswood Hills<span>$1.9M</span></p>
            </a>
            </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="project-list" style="background-image: url('/images/portfolio-big/pf-big8.jpg')">
        
            <a href="/projects/project08" title="View more">
                <p class="h3">66kV Ring Augmentation, Orange<span>$0.707M</span></p>
            </a>
            </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="project-list" style="background-image: url('/images/portfolio-big/pf-big9.jpg')">
        
            <a href="/projects/project09" title="View more">
                <p class="h3">66kV Forster to Taree<span>$1.43M</span></p>
            </a>
            </div>
</div>


	</div>

	<div class="portfolio-feature">
		<div class="pf-feat-img"><img alt="" src="/images/portfolio-thumb/pf-thumb4.jpg" class="item" style="float: left; margin-right: 14px;" />
	</div>
	<div class="images/pf-feat-text">
		<h3>Guildford TS to South Granville ZS</h3>
		<p>Extensive number of pole replacements in a highly congested urban environment and six hour ou<span style="font-size: 14px;"></span>tage windows.</p>
	</div>
</div>
<div class="spacer-content">&nbsp;</div>
	<div class="portfolio-feature">
		<div class="pf-feat-img"><br /></div>
			<div class="pf-feat-text">
				<h3></h3>
			</div>
		</div>
	</div>
</div>

<!--
</div>
</div>
</div>
-->




        </div>
    </main>
    <footer>
    <div class="container">
        <div id="footer" class="section">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="footer-news">
                        <p class="h3">Latest News</p>
                        <div class="cycle-slideshow" data-cycle-speed="1500" data-cycle-slides="div" data-cycle-log="false">
                          <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<head>
    <title></title>
</head>

<body>
    <div class="announcement-list">
        <p class="h2"><span class="date">27-Jun-2017</span>Quiet Achiever: Sue Raol</p>

        <p>A quiet achiever, Sue Raol, reached her milestone 5 year service this month. Sue continues to provide administrative support to our growing team. Nothing is too much trouble for Sue...</p>
    </div>
</body>
</html>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<head>
    <title></title>
</head>

<body>
    <div class="announcement-list">
        <p class="h2"><span class="date">03-Apr-2017</span>Forster to Taree</p>

        <p>The next big thing to hit Forster is &hellip;Gremalco!!! Our team has headed to Forster/Taree to complete some much needed refurbishment works on Essential Energy&rsquo;s 66kV sub-transmission lines...</p>
    </div>
</body>
</html>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<head>
    <title></title>
</head>

<body>
    <div class="announcement-list">
        <p class="h2"><span class="date">02-Apr-2017</span>10 years: Jeff Cook</p>

        <p>It&rsquo;s been 10 years since young Jeffrey Cook was recruited. Qualified in horticulture Jeff was looking for a change of scenery. Now a well respected and highly valued senior member of the Gremalco crew...</p>
    </div>
</body>
</html>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<head>
    <title></title>
</head>

<body>
    <div class="announcement-list">
        <p class="h2"><span class="date">06-Feb-2017</span>Gremalco moved</p>

        <p>
 Our newly renovated premises in Wetherill Park is open for business. Thanks to all the team for their hard work in making the move a smooth and seamless transition...</p>
    </div>
</body>
</html>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="footer-contact">
                        <p class="h3">Contact Gremalco</p>
                        <ul>
                            <li>Telephone: <a href="tel:61281035100" title="+61 (0)2 8103 5100" class="phone">+61 (0)2 8103 5100</a></li>
                            <li>Email: <a href="mailto:enquiries@gremalco.com.au" title="enquiries@gremalco.com.au" class="email">enquiries@gremalco.com.au</a></li>
                            <li>Staff &amp; Contractors IT support: <a href="tel:61281035100" title="+61 (0)2 8103 5100" class="phone">+61 (0)2 8103 5100</a></li>
                            <li>Online support: <a href="tel:61281035100" title="+61 (0)2 8103 5100" class="phone">+61 (0)2 8103 5100</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="footer-login">
                        <p class="h3">Team Login</p>
                            <p>Project teams, contractors and head office login.</p>
    <form name="catseczoneform63116" onsubmit="return checkWholeForm63116(this)" method="post" action="https://test-sep102015-113.worldsecuresystems.com/ZoneProcess.aspx?ZoneID=51&Referrer=http%3a%2f%2fwww.gremalco.com.au&OID=9017920&OTYPE=1" id="form-login" class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <input type="text" class="form-control" id="SZUsername" name="Username" placeholder="Username/User ID" title="Username/User ID" maxlength="255" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    &nbsp;
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <input type="password" class="form-control" id="SZPassword" name="Password" placeholder="Password" title="Password" autocomplete="off" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <button type="submit" class="btn btn-default">Login</button>
                </div>
            </div>
            <div class="form-group hide">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="RememberMe" id="RememberMe" /> Remember Me <a href="/_System/SystemPages/PasswordRetrieveRequest">Lost password?</a>
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js?vs=b1951.r480527-phase1"></script>
        <script type="text/javascript">
            //<![CDATA[
            function checkWholeForm63116(theForm){
                var why = "";
                if (theForm.Username) why += isEmpty(theForm.Username.value, "Username");
                if (theForm.Password) why += isEmpty(theForm.Password.value, "Password");
                if (why != ""){
                    alert(why);
                    return false;
                }
                theForm.submit();
                return false;
            }
            //]]>
        </script>
    </form>

                    </div>
                </div>
            </div>
        </div>
        <div id="copyright" class="section clear">
            <p class="left">Copyright &copy; 2018 Parker-Wood Communications Pty Ltd. All rights reserved. &nbsp; | &nbsp; <a href="#" title="Privacy Policy">Privacy Policy</a></p>
            <p class="right"><a href="http://www.google.com.au" target="_blank" class="">Project Management Login</a></p>
        </div>
    </div>
</footer>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
<!--
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
-->
<script type="text/javascript" src="/assets/js/jquery.cycle2.min.js"></script>
<script type="text/javascript" src="/assets/js/scripts.js"></script>

</body>
</html>
</body>
</html>