@import "materialize";



h3  {
  font-family: 'Archivo Black', sans-serif;
}

h5 {
  font-family: 'Comfortaa', cursive;
}

h6  {
  font-family: 'Comfortaa', cursive;
}

body {
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

a {
  color: blue;
}

img {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

nav {
  background-color: #323232;
  font-size: 32px;
  font-family: 'Permanent Marker', cursive;
  // font-family: 'Archivo Black', sans-serif;
}
a {
  padding-left: 45px;
  padding-right: 45px;
}
