@import "materialize";

body {
  text-align: center;
  font-family: monospace;
}

a {
  color: blue;
}

img {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

nav {
  background-color: #323232;
}
