
h3 {
  font-size: 32px;
  font-family: 'Permanent Marker', cursive;
}

h4 {
  font-size: 32px;
  font-family: 'Permanent Marker', cursive;
}

a {
  font-size: 32px;
  font-family: 'Permanent Marker', cursive;
}
