// Place all the styles related to the venue controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
  font-size: 32px;
  font-family: 'Permanent Marker', cursive;
}

h4 {
  font-size: 32px;
  font-family: 'Permanent Marker', cursive;
}

body {
  font-size: 32px;
  font-family: 'Permanent Marker', cursive;
}

a {
  color: deeppink;
  font-family: 'Comfortaa', cursive;
}

div.row {
  font-family: 'Permanent Marker', cursive;
}
