<h1>Food + Drink</h1>

<div class="row">

<div class="image">
  
</div>


</div>

  <% @all_venues.each do |venue| %>
  <div><%= venue.venue %></div>
  <%= link_to venue_path(venue) %>
  <hr>
  <% end %>

</div>
